/* Author: Kobe Dait */

/* File Description: Login/Registration Styling Sheet */

/* Some CSS below is taken from https://darkcode1.blogspot.com/2019/07/animated-login-form-using-html-css.html */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
}

/* Background */

body {
  min-height: 100vh;
}

/* Header styling */

header {
  background-color: black;
  color: white;
}

#header-bar {
  padding: 10px;
  list-style-type: none;
  overflow: hidden;

}

#page-title {
  text-align: right;
  font-size: 36px;
}

/* Logo styling */

#mb-logo {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Login window */

.loyalty-form {
  width: 360px;
  min-height: min-content;
  background: #555;
  padding: 50px 40px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loyalty-form h1 {
  text-align: center;
  margin-bottom: 60px;
}

/* User Input */

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 2px;
  height: 40px;
}

/* Animations for User Input */

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 10%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  transition: .5s;
}

.focus+span::before {
  top: -5px;
}

.focus+span::after {
  width: 100%;
}

/* Button styling */

.logbtn {
  font-size: larger;
  display: block;
  width: 100%;
  height: 50px;
  background: linear-gradient(120deg, black, #555, black);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover {
  background-position: right;
}

/* Register Button on Customer Login Page styling */

.regButton {
  width: 80px;
  height: 40px;
  background: linear-gradient(120deg, black, #555, black);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.regButton:hover {
  background-position: right;
}

/* Customer search window */

.customer-search {
  width: 360px;
  background: #555;
  min-height: fit-content;
  padding: 50px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.customer-search h1 {
  text-align: center;
  margin-bottom: 60px;
}